.card-custom-body {
    height: 40vh !important;
    background-repeat: no-repeat !important;
    background-size:contain !important;
    background-position: center !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
  }
  
  .link {
    cursor: pointer;
    object-fit: contain;
  }


  .img-fluid{
    max-width: 400px;
    min-width: 400px;
    max-height: 500px;
    max-height: 500px;
    object-fit: contain;
  }